<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- LINK BOOTSTRAP'S -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous">
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
            integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
            crossorigin="anonymous"></script>


        <title>LISTA DE PRODUCTOS</title>

    </head>
    <body>
         <!-- SOLO MODIFICRA LOS HREF DEL MENU -->
         <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand px-5" href="#">PAPELERIA CRISTAL</a>
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar"
                    aria-controls="offcanvasDarkNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark"
                    tabindex="-1" id="offcanvasDarkNavbar"
                    aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title"
                            id="offcanvasDarkNavbarLabel">MENU</h5>
                        <button type="button" class="btn-close
                            btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end
                            flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link "
                                    th:href="@{/list}">Productos</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link active "
                                    th:href="@{/vender}">Vender</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link "
                                    th:href="@{/ventas}">Ventas</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <header style="padding: 5em;" class="row">
            <h4>VENDER</h4>
            <div class="col-8"></div>
        
            <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
                th:text="${mensaje}"
                class="alert">
            </div>
        </header>

        <section class="py-2 px-2" >
            <form th:object="${producto}" th:action="@{/agregar}" method="post">
                <div class="form-group">
                    <label for="nombre">Nombre del producto</label>
                    <input autofocus autocomplete="off" th:field="*{nombre}" id="nombre"
                           placeholder="Escribe el nombre del producto y presiona Enter"
                           type="text"
                           class="form-control" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
                    <div class="invalid-feedback" th:errors="*{nombre}"></div>    
                </div>
            </form>

            <form class="mb-2" th:action="@{/terminar}" method="post">
                <button type="submit" class="btn btn-success">Terminar&nbsp;<i class="fa fa-check"></i>
                </button>
                <a th:href="@{/limpiar}" class="btn btn-danger">Cancelar venta&nbsp;<i
                        class="fa fa-trash"></i>
                </a>
            </form>

            <h1 th:text="${'Total: ' + total}"></h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                    <th>Quitar de lista</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="producto, iterador : ${session.carrito}">
                    <td th:text="${producto.id}"></td>
                    <td th:text="${producto.nombre}"></td>
                    <td th:text="${producto.cantidad}"></td>
                    <td th:text="${producto.precioPublico}"></td>
                    <td th:text="${producto.total}"></td>
                    <td>
                        <form th:action="@{/quitar/} + ${iterador.index}" method="post">
                            <button type="submit" class="btn btn-danger">Quitar<i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        </section>

        <footer class="px-2 py-2 fixed-bottom bg-dark"
            xmlns:th="http://www.w3.org/1999/xhtml">
            <span class="text-muted">Sistema web Elaborado por Claudia Anaya Carreño
            </span>
            <script type="text/javascript">
                document.addEventListener("DOMContentLoaded", () => {
                    const menu = document.querySelector("#menu"),
                        botonMenu = document.querySelector("#botonMenu");
                    if (menu) {
                        botonMenu.addEventListener("click", () => menu.classList.toggle("show"));
                    }
                });
            </script>
        </footer>


    </body>
</html>